<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.name | capitalize }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="artist">
      <mat-header-cell *matHeaderCellDef> Artist </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.artist }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef> Genre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.genre }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="coverUrl">
      <mat-header-cell *matHeaderCellDef> URL </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.coverUrl }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <mat-header-cell *matHeaderCellDef> Release Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.releaseDate }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
